* {box-sizing:border-box;}
nav ul {
    display: flex;
    text-decoration-color: white;
    background-color: #ED008E;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }

img {
    width: 100%;
}

body {
    background-color: #FFED48;
    margin: auto;
    height: 100%;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 35px;
    text-align: center;
  }

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 20px;
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    font-size: 16px;
    line-height: 25px;
}

.homepage {
    align-items: center;
    justify-content: center;
}

.logo {
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 70%;
    padding-top: 70px;
    padding-left: 440px;
}

.flex-menu {
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    text-align: center;
}
.flex-menu {
    flex-wrap: 10;
    justify-content: space-evenly;
}
.flex-menu img {
    width: 55%;
}

.flex-me {
    display: flex;
    margin: auto;
    width: 80%;
  }
.flex-me div {
    flex: 50%;
    padding: 100px;
}
.flex-me img {
    width: 100%;
    
}

.flex-me:nth-child(odd) {
    flex-direction: row;
}

.flex-me:nth-child(even) {
    flex-direction: row;
}

.risoprocess img {
    width: 70%;
    align-items: center;
    padding-left: 420px;
    padding-bottom: 20px;
}

.flex-steps {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    flex-wrap: 10;
    justify-content: space-around;
    
}

.unique {
    text-align: center;
    padding-bottom: 50px;
    margin-right: 80px;
    margin-left: 80px;
}


.flex-shop {
    display: flex;
    padding: 90px 60px;
    margin-right: 80px;
    margin-left: 20px;
    border-style: solid;
  }
.flex-shop div {
    flex-wrap: wrap;
}
.flex-shop img {
    width: 50%;
}

.flex-shop-2 {
    display: flex;
    padding: 90px 60px;
    margin-right: 20px;
    margin-left: 80px;
    border-style: solid;
  }
.flex-shop-2 div {
    flex-wrap: wrap;
}
.flex-shop-2 img {
    width: 50%;
    
}

.flex-gallery {
        width: 80%;
        padding-top: 20px;
        line-height: 24px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 40px;
}

@media only screen and (max-width: 768px) {
.flex-me:nth-child(odd) {
    flex-direction: column-reverse;
    width: 100%;
}
.flex-me:nth-child(even) {
    flex-direction: column;
    width: 100%;
}
.flex-me div {
    padding: 20px;
}
.flex-me img {
    width: 100%;
    padding-top: 30px;
}
}