nav ul {
    display: flex;
    text-decoration: none;
    text-decoration-color: white;
    background-color: #ED008E;
    align-items: center;
    justify-content: center;
  }

img {
    width: 100%;
}

body {
    background-color: #FFED48;
    height: 100%;
}

.logo img {
    justify-content: center;
    align-items: center;
    width: 40%;
}

.flex-menu {
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}
.flex-menu {
    flex-wrap: 10;
    justify-content: space-evenly;
}
.flex-menu img {
    width: 50%;
}
